<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ラーメンMap 店舗一覧</h1>
      <table>
        <% @shops.each do |shop| %>
            <thead>
              <tr>
                <td>一覧</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  店名<%= shop.name%>
                  <br>メニュー<%= shop.menu_name%>
                  <br>値段<%= shop.price%>
                  <%= link_to "店舗詳細", admin_shop_path(shop.id), class:"btn btn-info btn-sm btn-block sign_up" %>
                  <%= link_to '取り消し', admin_shop_path(shop.id), method: :delete, class: "btn btn-danger btn-sm btn-block sign_up"%>
                </td>
              </tr>
            </tbody>
        <% end %>
       </table>
    </div>
  </div>
</div>