<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>会員情報変更</h1>
        <%= form_with model: @customer,url:admin_customer_path do |f| %>
        <div class="field">
          <%= f.label :ニックネーム %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :生年月日 %><br>
          <%= f.text_field :birthday %>
        </div>
        <br><%= link_to "退会処理", admin_customer_path(@customer.id), class: "btn btn-sm btn-danger", method: :delete %>
        <%= f.submit '顧客情報変更', class: "btn btn-sm btn-danger"%>
        <% end %>
    </div>
  </div>
</div>