<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>投稿一覧</h1>
      <table>
        <% @contributions.each do |contribution| %>
        <thead>
          <tr>
            <td>投稿者<%= @customers %><br>タイトル <%= contribution.title %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= image_tag contribution.get_image %>
              コメント <%= contribution.comment %>
               <%= link_to '取り消し', admin_contribution_path(contribution.id), method: :delete, class: "btn btn-danger btn-sm btn-block sign_up"%>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>