<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>ラーメンMap　投稿一覧</h1>
        <h1>投稿検索</h1>
        <p>画像をクリックしていただくと投稿の詳細をご確認できます</p>
        <%= form_with url: public_contributions_path, method: :get, local: true do |f| %>
           <br><%= f.select :tag_id, @tag_list.map{|tag| [tag.tag_name, tag.id]} %>  <%= f.text_field :title %>
           <br><%= f.submit :タグ検索, class: "btn btn-info btn-sm " %> <%= f.submit :タイトル検索, class: "btn btn-info btn-sm "%>
        <% end %>
            <table>
              <% @contributions.each do |contribution| %>
                <thead>
                  <tr>
                    <td>投稿者<%= contribution.customer.name %><br>タイトル <%= contribution.title %><br>タグ <%= contribution.tag_name %></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= link_to public_contribution_path(contribution.id) do%>
                      <%= image_tag contribution.get_image %>
                      <% end %>
                    </td>
                    <td>
                     <br>コメント<br><%= contribution.comment %><br>レビュー<div id="star-rate<%= contribution.id%>">
                        <script>
                          $('#star-rate<%= contribution.id %>').empty();
                          $('#star-rate<%= contribution.id%>').raty({
                            size      : 36,
                            starOff   : '<%= asset_path('star-off.png') %>',
                            starOn    : '<%= asset_path('star-on.png') %>',
                            half      : false,
                            readOnly: true,
                            score: <%= contribution.star %>,
                          });
                        </script>
                      </div>
                    </td>
                  </tr>
                </tbody>
              <% end %>
            </table>
    </div>
  </div>
</div>