<!DOCTYPE html>
<html>
  <head>
    <title>ramenMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <h1>ラーメンMap</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do%>
                <p>ログアウト</p>
                <% end %>
                <%= link_to admin_customers_path, class: 'nav-link text-dark' do%>
                <p>一覧</p>
                <% end %>
                <%= link_to admin_contributions_path, class: 'nav-link text-dark' do%>
                <p>投稿</p>
                <% end %>
              <% elsif customer_signed_in? %>
                <%= link_to public_customers_path, class: 'nav-link text-dark' do%>
                <p>お客様一覧</p>
                <% end %>
                <%= link_to public_customer_path(current_customer.id), class: 'nav-link text-dark' do%>
                <p>マイページ</p>
                <% end %>
                <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do%>
                <p>ログアウト</p>
                <% end %>
                <%= link_to public_contributions_path, class: 'nav-link text-dark' do%>
                <P>投稿一覧</P>
                <% end %>
              <% else %>
                <%= link_to public_customers_guest_sign_in_path, method: :post, class: 'nav-link text-dark' do%>
                <p>ゲストログイン</p>
                <% end %>
                <%= link_to public_contributions_path, class: 'nav-link text-dark' do%>
                <P>投稿一覧</P>
                <% end %>
              <% end %>
    </header>
    <main class="mb-auto">
      <%= flash[:notice]  %>
    <%= yield %>
    </main>
  </body>
</html>
